.cycle-slideshow,
.cycle-slideshow *           {
                                 -webkit-box-sizing: border-box;
                                 -moz-box-sizing: border-box;
                                 box-sizing: border-box;
                             }

.cycle-slideshow li div      {
                                 width: 400px;
                                 padding: 20px;
                                 background: rgba(51,51,51,.8);
                                 border: 1px solid rgba(255,255,255,.2);
                                 margin: 300px 0 0 200px;
                                 -moz-backface-visibility: hidden;
                                 -webkit-backface-visibility: hidden;
                                 -ms-backface-visibility: hidden;
                                 backface-visibility: hidden;
                             }

.button                      {
                                 -webkit-transition: all 0.5s ease-in-out;
                                 nowhitespace: afterproperty;
                                 -moz-transition: all 0.5s ease-in-out;
                                 -o-transition: all 0.5s ease-in-out;
                                 transition: all 0.5s ease-in-out;
                                 width: auto;
                                 background: #444;
                                 border-bottom: 3px solid #333;
                                 color: white;
                                 cursor: pointer;
                                 display: inline-block;
                                 font-family: inherit;
                                 font-size: 14px;
                                 font-weight: 400;
                                 line-height: 1;
                                 margin: 0;
                                 padding: 10px 20px 11px;
                                 position: relative;
                                 text-align: center;
                                 text-decoration: none;
                                 -webkit-transition: background-color 0.15s ease-in-out;
                                 -moz-transition: background-color 0.15s ease-in-out;
                                 -o-transition: background-color 0.15s ease-in-out;
                                 transition: background-color 0.15s ease-in-out;
                             }

.button:hover,
.button:focus                {
                                 color: white;
                                 background-color: #333;
                                 padding: 12px 20px 9px;
                             }

.button:active               {
                                 -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
                                 -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
                                 box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
                             }

.prev:before,
.next:before                 {
                                 position: absolute;
                             }

.prev                       {
                                 opacity: 0;
                                 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                                 cursor: pointer;
                                 height: 35px;
                                 width: 35px;
                                 position: absolute;
                                 left: 0px;
                                 top: 50%;
                                 margin-top: -25px;
                                 z-index: 1002;
                                 margin: 0;
                                 text-align: center;
                             }

.next                        {
                                 opacity: 0;
                                 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                                 cursor: pointer;
                                 height: 35px;
                                 width: 35px;
                                 position: absolute;
                                 right: 0px;
                                 top: 50%;
                                 margin-top: -25px;
                                 z-index: 1002;
                                 margin: 0;
                                 text-align: center;
                             }


.cycle-pager { 
		text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 50px; overflow: hidden; 
	}
.cycle-pager span { 
		font-family: arial; font-size: 50px; width: 16px !important; height: 16px !important; 
		display: inline-block; color: rgba(255,255,255,1); cursor: pointer; margin-right:5px;
	}
.cycle-pager > * { cursor: pointer;}
.cycle-overlay {
		position:absolute;
		bottom:auto;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:0;
		background: transparent;
		padding:0;
		opacity:1
}
.banner-background {
		width:100%;
		height:100%;
		background-size:cover;
		position:absolute;
		top:0;
		left:0;
		z-index:10;
}
.cycle-slideshow {
		width:99%;
		height:500px;
		margin:0px auto;
		background-position:center;
		background-size:cover;
		color:#fff;
		overflow:hidden;
}
.cycle-slideshow ul, .cycle-slideshow li {
		width:99%;
		height:100%;
		overflow:hidden;
		list-style-type:none;
}
.cycle-slideshow img {
		width:98.6%;
		min-width:100%;
}
.cycle-caption {
		width:100%;
		height:100%;
		padding:20px;
		position:absolute;
		top:0px;
		left:0px;
		z-index:20;
		opacity:1;
}
.caption1 {
	color:#FFF;
	font-size:60px;
	text-transform:uppercase;
	text-shadow:1px 1px #bfbfbf;
	position:absolute;
	top:30%;
	left:3%;
	z-index:30;
	padding:5px;
		-moz-animation: fadeInRight 0.8s ease-in 1.3s backwards;
		-webkit-animation: fadeInRight 0.8s ease-in 1s backwards;
	animation: fadeInRight 0.8s ease-in 1s backwards;
	opacity: 1;
	font-family: "Open Sans", Arial;
	font-weight:bold;
}
.caption1 span{  text-transform: none; text-shadow: none; font-weight:bold; text-transform:uppercase; }
.caption2 {
	font-weight: lighter;
	color:#FFF;
	font-size:18px;
	text-transform:uppercase;
	line-height: 24px;
	position:absolute;
	top:40%;
	left:3%;
	z-index:40;
	padding:5px;
		-moz-animation: fadeInLeft 0.8s ease-in 1.5s backwards;
		-webkit-animation: fadeInLeft 0.8s ease-in 1.5s backwards;
	animation: fadeInLeft 0.8s ease-in 1.5s backwards;
	opacity:1;
	font-family: "Open Sans", Arial;
	font-weight:400;
	margin-right:40px;
	margin-top:40px;
}
.caption3 {
		font-weight:bold;
		color:#FFF;
		
		font-size:52px;
		position:absolute;
		top:20px;
		left:0px;
		z-index:50;
		padding:5px;
		-moz-animation: fadeInUp 0.8s ease-in 1.7s backwards;
		-webkit-animation: fadeInUp 0.8s ease-in 1.7s backwards;
		animation: fadeInUp 0.8s ease-in 1.7s backwards;
		opacity:1;
		font-family: "Open Sans", Arial;
}
.caption4 {
	font-weight:bold;
	color:#fff;
	font-size:18px;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	font-family: "Open Sans", Arial;
		-moz-animation: fadeInUp 0.8s ease-in 1.7s backwards;
		-webkit-animation: fadeInUp 0.8s ease-in 1.7s backwards;
	animation: fadeInUp 0.8s ease-in 1.7s backwards;
	position:absolute;
	top:80px;
	left:10px;
	padding:20px 0px 20px 0px;
	opacity:1;
	cursor:pointer;
	
	right: 280px;
}	
.caption5 {
		
		color:#FFF;
		font-weight: normal;
		font-size:52px;
		position:absolute;
		top:70px;
		left:0px;
		z-index:50;
		padding:5px;
		-moz-animation: fadeInUp 0.8s ease-in 1.7s backwards;
		-webkit-animation: fadeInUp 0.8s ease-in 1.7s backwards;
		animation: fadeInUp 0.8s ease-in 1.7s backwards;
		opacity:1;
		font-family: "Open Sans", Arial;
}
.caption5 span {
		
		font-weight:bold;

		
}
.caption6 {
	font-weight:bold;
	color:#fff;
	font-size:18px;
	
	font-family: "Open Sans", Arial;
		-moz-animation: fadeInUp 0.8s ease-in 1.7s backwards;
		-webkit-animation: fadeInUp 0.8s ease-in 1.7s backwards;
	animation: fadeInUp 0.8s ease-in 1.7s backwards;
	position:absolute;
	top:110px;
	left:10px;
	padding:20px 0px 20px 0px;
	opacity:1;
	cursor:pointer;
	
	right: 310px;
	word-spacing: 0.3em;
}	
.caption7 {
	color:#FFF;
	font-weight: lighter;
	font-size:50px;
	position:absolute;
	top:90px;
	left:0px;
	z-index:50;
	padding:5px;
		-moz-animation: fadeInUp 0.8s ease-in 1.7s backwards;
		-webkit-animation: fadeInUp 0.8s ease-in 1.7s backwards;
	animation: fadeInUp 0.8s ease-in 1.7s backwards;
	opacity:1;
	font-family: "Open Sans", Arial;
	text-transform: uppercase;
	line-height: 50px;
}

.caption8 {
	font-weight: normal;
	color:#323232;
	font-size:26px;
	
	font-family: "Open Sans", Arial;
		-moz-animation: fadeInUp 0.8s ease-in 1.7s backwards;
		-webkit-animation: fadeInUp 0.8s ease-in 1.7s backwards;
	animation: fadeInUp 0.8s ease-in 1.7s backwards;
	position:absolute;
	top:140px;
	left: 0px;
	padding:20px 0px 20px 0px;
	opacity:1;
	cursor:pointer;
	
	right: 310px;
	word-spacing: 0.3em;
}	
.caption9 {
	color:#FFF;
	font-weight: bolder;
	font-size:60px;
	position:absolute;
	top:20px;
	left:-40px;
	z-index:50;
	padding:20px;
		-moz-animation: fadeInUp 0.8s ease-in 1.7s backwards;
		-webkit-animation: fadeInUp 0.8s ease-in 1.7s backwards;
	animation: fadeInUp 0.8s ease-in 1.7s backwards;
	opacity:1;
	font-family: "Open Sans", Arial;
	text-transform: uppercase;
	line-height: 50px;
	background-image: url(../images/banner_textbg1.png);
}
.caption9  span{
	color:#FFF;
	
	font-weight: lighter;
	font-size:60px;
	position: relative;
	top:10px;
	left:0px;

}
.caption10 {
	color:#323232;
	font-weight: bolder;
	font-size:16px;
	position:absolute;
	top:160px;
	left:-40px;
	right: 660px;
	z-index:50;
	padding:5px 20px 20px 23px;
		-moz-animation: fadeInUp 0.8s ease-in 1.7s backwards;
		-webkit-animation: fadeInUp 0.8s ease-in 1.7s backwards;
	animation: fadeInUp 0.8s ease-in 1.7s backwards;
	opacity:1;
	font-family: "Open Sans", Arial;
	text-transform: none;
	line-height: 20px;
	background-image: url(../images/banner_textbg1.png);
}

#progress { 
		position: absolute; bottom: 0; left:0; height: 7px; width: 0px; 
		background: -moz-linear-gradient(left, rgba(50,50,50,0.3) 0%, rgba(50,50,50,0.8) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(50,50,50,0.3)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(50,50,50,0.3) 0%,rgba(50,50,50,0.8) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(50,50,50,0.3) 0%,rgba(50,50,50,0.8) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(50,50,50,0.3) 0%,rgba(50,50,50,0.8) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(50,50,50,0.3) 0%,rgba(50,50,50,0.8) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d1e1e1e', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 */
			z-index: 9999; 
		-webkit-border-top-right-radius: 50px;
		-webkit-border-bottom-right-radius: 50px;
		-moz-border-radius-topright: 50px;
		-moz-border-radius-bottomright: 50px;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
}

@media (min-width: 768px) and (max-width: 980px) {
	.caption1 { font-size:44px; }
	
}

@media (min-width: 480px) and (max-width: 768px) {
	.caption1 { font-size:32px; }
	.caption2 { margin-top:20px;}
}
@media (max-width: 600px) {
	.caption1 { font-size:30px;}
}
@media (max-width: 568px) {
	.caption1 { font-size:30px;}
}
@media (max-width: 480px) {
	.caption1 { font-size:26px; }
	.caption2 { font-size:14px;  margin-top:20px; }
}
@media (max-width: 384px) {
	.caption1 { font-size:20px; }
	.caption2 { font-size:12px;  margin-top:20px; }
}
@media (min-width: 240px) and (max-width: 320px) {
	.caption1 { font-size:18px;}
	.caption2 { font-size:12px;  margin-top:20px;}

}